# DO NOT UPLOAD BELOW FOLDERS TO GITHUB
ava/
ava_v2.2/
COIN_videos/
thumos15/
temp/
playground/
output/
APIKEY/
# DO NOT UPLOAD BELOW FILES TO GITHUB
yolo11x-pose.pt
playground.py
playground_v2.ipynb
